
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//login import
@import url('https://rsms.me/inter/inter-ui.css');

//Navigation bar
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: #1a1a1a;
}

nav {
    background: #212121;
    height: 70px;
    z-index: 1;
}

nav #brand {
    float: left;
    display: block;
    margin-left: 20px;
    font-size: 50px;
    line-height: 70px;
    font-weight: bold;
}

nav #brand a {
    color: #fff;
    transition: all 0.3s ease-out;
}

nav #brand a:hover {
    color: #777777;
}

nav #menu {
    float: left;
    left: 15%;
    position: relative;
}

nav #menu li {
    display: inline-block;
    padding: 0px 30px;
    cursor: pointer;
    line-height: 70px;
    position: relative;
    transition: all 0.3s ease-out;
}

nav #menu li a {
    color: #fff;
}

nav #menu li:hover {
    background: #333;
}

#toggle {
    position: absolute;
    right: 20px;
    top: 14px;
    z-index: 999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

#toggle .span {
    height: 7px;
    background: #333;
    margin: 5px auto;
    backface-visibility: hidden;
}

#toggle.on #one {
    transform: rotate(45deg) translateX(6px) translateY(6px);
}

#toggle.on #two {
    opacity: 0;
}

#toggle.on #three {
    transform: rotate(-45deg) translateX(10px) translateY(-12px);
}

#resize {
    z-index: 1;
    position: absolute;
    top: 0px;
    background: #ddd;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
    display: table;
}

#resize #menu {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

#resize #menu li {
    display: block;
    text-align: center;
    padding: 20px 0;
    text-align: center;
    font-size: 50px;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#resize #menu li:hover {
    background: #212121;
}

#resize #menu li:hover a {
    color: #fff;
    transition: all 0.3s ease-out;
}

#resize #menu li a {
    color: #212121;
}

#resize.active {
    visibility: visible;
    opacity: 0.99;
}

@media (max-width: 768px) {
    #toggle {
        visibility: visible;
        opacity: 1;
    }

    nav #menu {
        display: none;
    }
}

@media (min-width: 768px) {
    #resize {
        visibility: hidden !important;
    }
}




//For login form
::selection {
    background: #2D2F36;
}

::-webkit-selection {
    background: #2D2F36;
}

::-moz-selection {
    background: #2D2F36;
}

body {
    background: white;
    font-family: 'Inter UI', sans-serif;
    margin: 0;
    padding: 20px;
}

.page {
    background: #e2e2e5;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: calc(100% - 40px);
}

@media (max-width: 767px) {
    .page {
        height: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}

.container {
    display: flex;
    height: 320px;
    margin: 0 auto;
    width: 640px;
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
        height: 630px;
        width: 320px;
    }
}

.left {
    background: white;
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 50%;
}

@media (max-width: 767px) {
    .left {
        height: 100%;
        left: 20px;
        width: calc(100% - 40px);
        max-height: 270px;
    }
}

.login {
    font-size: 50px;
    font-weight: 900;
    margin: 50px 40px 40px;
}

.eula {
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    margin: 40px;
}

.right {
    background: #474A59;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    color: #F1F1F2;
    position: relative;
    width: 50%;
}

@media (max-width: 767px) {
    .right {
        flex-shrink: 0;
        height: 100%;
        width: 100%;
        max-height: 350px;
    }
}

svg {
    position: absolute;
    width: 320px;
}

path {
    fill: none;
    stroke: url(#linearGradient);
    ;
    stroke-width: 4;
    stroke-dasharray: 240 1386;
}

.form {
    margin: 40px;
    position: absolute;
}

label {
    color: #c2c2c5;
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

input {
    background: transparent;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
}

input::-moz-focus-inner {
    border: 0;
}

#submit {
    color: #707075;
    margin-top: 40px;
    transition: color 300ms;
}

#submit:focus {
    color: #f2f2f2;
}

#submit:active {
    color: #d0d0d2;
}
